<div class="card">
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body text-justify">
      <h5 class="card-title">{{ heroe.nombre }}</h5>
      <p class="card-text">{{ heroe.bio }}</p>
      <p class="card-text"><b>Aparición: </b><small class="text-muted">{{ heroe.aparicion | date }}</small></p>
      <button (click)="verHeroe()" class="btn btn-outline-primary btn-block">Ver más...</button>
      <!--<a [routerLink]="['/heroe', i]" class="btn btn-outline-primary btn-block">Ver más...</a>-->
    </div>
  </div>